@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: steelblue;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.25rem 2.5rem;
  border-radius: 8px;
}

.container h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.container a {
  text-decoration: none;
  color: lightblue;
}

.btn {
  cursor: pointer;
  width: 100%;
  background-color: lightblue;
  padding: 1rem;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 2rem;
}

.form-control {
  position: relative;
  margin: 1.25rem 0 2.5rem;
  width: 20rem;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  font-size: 1.25rem;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 1rem;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 1rem;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label {
  color: lightblue;
  transform: translateY(-2rem);
}